
.footer {
    background-color: #f0f0f0;
    padding: 2vh;
    color: #555;
    margin-bottom: 0%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vw;
  }
  
  .footer-text {
    margin: 0;
  }
  
  .footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .footer-link-item {
    margin-right: 2vw;
  }
  
  .footer-link-item:last-child {
    margin-right: 0;
  }
  
  .footer-link-item a {
    color: #777;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .footer-link-item a:hover {
    color: #333;
  }
  
  .footer-link-item .icon {
    margin-right: 2vw;
    margin-left: 2vw;
    width: 2vw;

  }


  